body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
    padding-top: 25px;
    height: 60px;
}
.navbar-brand h1 { /* name */
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-align: left;
    padding-left: 20px;
  }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}
/*collapsable-nav*/
#nav-list {
  margin-top: 10px;
}
#nav-list div {
  color: #951C49;
  font-size: 1.2em;
  border: 10px black;
}
hr{
  border-color: black;
}
#collapsable-nav{
  border-color: black;
}
/*body*/
.container {
}
h2 { /* name */
  color: #c0731a;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: .75;
}

#tile1, #tile2 {
  height: 1000px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 0;
  overflow: hidden;
  padding: 20px;
  background-color: #61bd0c;
  /*margin-right: 15px;
  margin-left: 15px;*/
}
p{
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav span { /* Collapsed nav menu glyph */
    font-size: 1.2em;
    margin-right: 5px;
  }
  #collapsable-nav{
    background-color: #557c3e;
  }
  /* End Header */
}
